<body *ngIf="currentBoard" [style.background-color]="currentBoard.color">
  <p> Component works </p>


  <div class="row ml-5" *ngIf="currentBoardList">

    <div *ngFor="let list of currentBoardList; let i=index" class="alert alert-dismissible alert-secondary ml-1 mr-3 "
      style="float:left;">

      <p> {{list.listName}} </p>
      <!-- kart ekleme yeri  -->
      <div class="form-group">
        <!-- cardlari getir  -->



        <span data-toggle="modal" data-target="#update" *ngFor="let item of  list.cards" class="form-control">
          {{item.cardName}} <i class="right fa fa-codepen" aria-hidden="true"></i> </span> <br />






        <!-- cardlari getir son  -->






        <button type="button" (click)="getBoardListId(list.boardListId)" class="btn btn-primary" data-toggle="modal"
          data-target="#exampleModalLong">
          Başka Kart Ekle
          <!-- Başka kart Ekle <span [(ngModel)]="data"  > {{list.boardListId}} </span> -->
        </button>


      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="addCardGroup" (ngSubmit)="addToCart()">
                <div class="form-group">
                  <input type="text" formControlName="cardName" id="cardName" class="form-control" placeholder="Please enter your card name!" />
                  <span class="help-block" *ngIf="addCardGroup.get('cardName').hasError('required') && addCardGroup.get('cardName').touched">
                    Bu alanı girmek zorunludur. </span>
                </div>

                <button type="submit" class="btn btn-success btn-lg btn-block">
                  Insert! </button>

              </form>

            </div>

          </div>
        </div>
      </div>

      <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4> Geliyorummm </h4>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- modal burada -->



  </div>




</body>


<!-- Modal -->
<!-- Button trigger modal -->
