<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group mt-5 ">
        <a href="#" class="list-group-item list-group-item-action ">
          <i class="fa fa-book" aria-hidden="true"></i> Panolar
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <i class="fa fa-home" aria-hidden="true"></i> Anasayfa
        </a>

      </div>
    </div>

    <div class="col-md-9 mt-5 ">
      <div class="card text-white col-md-3 mr-5 mb-4 " style="float: left; background-color: blue; ">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

















    </div>



  </div>
</div>
