<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group mt-5 ">
        <a href="#" class="list-group-item list-group-item-action ">
          <i class="fa fa-book" aria-hidden="true"></i> Panolar
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <i class="fa fa-home" aria-hidden="true"></i> Anasayfa
        </a>
      </div>
    </div>
    <div class="col-md-9 mt-5">
      <div *ngFor="let board of boardList" class="card text-white col-md-3 mr-5 mb-4" [style.background-color]="board.color"
        style="float: left; height: 150px;  ">
        <div class="card-header"> {{board.title}} Board </div>
        <div class="card-body">
          <h4 class="card-title">{{board.title}} </h4>
          <a href="/getBoardList/{{board.boardId}}"> listeye git </a>
        </div>
      </div>

      <div data-toggle="modal" data-target="#exampleModal" class="card text-white bg-info col-md-3 mr-5 mb-4" style="float: left; height: 150px; ">
        <div class="card-header"> Pano Ekle </div>
        <div class="card-body">
          <h4 class="card-title"> Pano Oluştur </h4>
          <!-- Button trigger modal -->
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="boardAddGroup" (ngSubmit)="addBoard()">
                <div class="form-group">
                  <div class="col-md-8">
                    <input type="text" id="title" formControlName="title" class="form-control" placeholder="Lütfen başlık giriniz" />
                    <span class="help-block" *ngIf="boardAddGroup.get('title').hasError('required') && boardAddGroup.get('title').touched">
                      Başlık zorunludur. </span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="form-group">
                    <div class="col-md-8">
                      <input type="color" id="color" formControlName="color" class="form-control" value="#ff0000" />
                      <span class="help-block" *ngIf="boardAddGroup.get('color').hasError('required') && boardAddGroup.get('color').touched"></span>
                    </div>
                  </div>
                </div>


                <button type="submit" [disabled]="!boardAddGroup.valid" class="btn btn-large btn-block btn-success">
                  Oluştur </button>


              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- Modal Finish  -->

    </div>



  </div>
</div>
